<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Aula 2 Vue</title>
</head>
<body>
    

    <div id="app" class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center mt-3">
                <h4>{{titulo}}</h4>            

                <input v-model='novaTarefa' @keyup.enter ='addTarefa' ref='novaTarefa' type="text" class="form-control my-2">
                <button @click='addTarefa' class="btn btn-success btn-block">+</button>
                
                <ul v-for= 'tarefa in tarefas' class="list-group mt-3">
                    <li class="list-group-item my-2"> {{tarefa}} <button @click='retirar(tarefa)' class="btn btn-danger btn-small">x</button> </li>
                </ul>

            </div>
            <div class="col-4"></div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data:{               
                titulo: 'Lista TODOS',
                novaTarefa: '',
                tarefas:[]
            },
            methods: {
                retirar: function(tarefa){
                    this.tarefas.splice(this.tarefas.indexOf(tarefa),1)
                },
                addTarefa: function(){
                  //this.tarefas.push(this.novaTarefa)
                  if(this.novaTarefa !== ''){
                    this.tarefas = [this.novaTarefa, ...this.tarefas]
                    this.novaTarefa = ''
                    this.$refs.novaTarefa.focus()  
                  }
                }
            }
        })
           
    </script>

</body>
</html>